<ion-header>
  <ion-toolbar>
    <ion-title>QRgen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label  [color]="ibanColor" position="floating">Reciever IBAN</ion-label>
        <ion-input (ionChange)="ibanUpdated()" [color]="ibanColor"  autocapitalize="characters"   [(ngModel)] = "receiverIBAN" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label  [color]="nameColor"  position="floating">Reciever Name</ion-label>
        <ion-input (ionChange)="receivernameUpdated()" [color]="nameColor" [(ngModel)] = "receiverName" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label  [color]="amountColor" position="floating">  Amount </ion-label>
        <ion-input (ionChange)="validAmount()" [color]="amountColor"   [(ngModel)] = "amount"></ion-input>
    </ion-item>


  <ion-button ion-button expand="block" (click)="generateQR()">
    Generate QR
  </ion-button>
  <ion-button ion-button expand="block" (click)="returnToProfileButtonOnclick()">Return to Profile</ion-button> 


  <ngx-qrcode 
    [qrc-value] = "qrCodeText"
    qrc-class = "aclass"
    qrc-errorCorrectionLevel = "L">
  </ngx-qrcode>
</ion-content>
